*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

button{
  cursor: pointer;
}

.clear:after{
  content: "";
  display: table;
  clear: both;
}

.container{
  width: 80%;
  height: 100%;
  margin:auto;
  /* border:1px solid black; */
}

.blue{
  background-color: #0d325a;
  height: 425px;
}

.grey{
  background-color: #f9f9f9;
}

.white{
  height: 500px;
  margin:5px 0;
}

#help-btn{
  position:fixed;
  bottom:0;
  right:85px;
  width: 60px;
  height: 40px;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  background-color: #009900;
  color: white;
  border: none;
  z-index: 2;
}

#help-btn:hover{
  height: 45px;
  padding-bottom: 5px;
}

/* NAV */

nav{
  height: 80px;
  background-color: #0d325a;
  font-size: 12px;
}

nav .bar{
  line-height: 80px;
  width: 100%;
  height: 100%;
}

/* BAR  */

.bar-left{
  float:left;
  color: white;
  width: 60%;
  height: 100%;
}

.bar-right{
  float:right;
  width: 40%;
  text-align: right
}

/* BAR LEFT */

.bar-left > *{
  float: left;
}

.bar-left .logo{
  position: relative;
  width: 20%;
  height: 100%;
}

.bar-left .logo img{
 position: absolute;
 top:50%;
 left:50%;
 transform: translate(-60%,-65%);
 cursor: pointer;
}

.bar-left ul{
  list-style-type: none;
  width: 80%;
}

.bar-left ul li{
  float:left;
  padding: 0 10px;
  font-weight: 500;
  font-weight: 600;
}

.bar-left li span:hover{
  color: darkorange;
  cursor: pointer;
}

/* BAR RIGHT */

.bar-right >*{
  margin-left: 15px;
}

.bar-right button{
  font-size: 12px;
  font-weight: 600;
}

#btt1{
  background: none;
  border:none;
  opacity: 1;
  color: rgba(255,255,255,.5);
}

#btt2{
  background: none;
  border: 1px solid #4e8CB6;
  color:white;
  border-radius: 5px;
  height: 30px;
  width:80px;
}

#btt3{
  background-color: #7fb802;
  border: none;
  color:white;
  border-radius: 5px;
  height: 30px;
  width:150px;
}

/* FIRST BLOCK */

#first-block{
  position: relative;
}

#first-block > img{
  position: absolute;
  right:0;
}

#first-block .cont {
  width: 55%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

#first-block .cont h1{
  color: white;
  font-size: 45px;
  font-weight: 500;
  line-height: 55px;
  margin-bottom: 35px;
}

#first-block .cont button{
  background-color: #7fb802;
  border: none;
  color:white;
  border-radius: 5px;
  font-size: 12px;
  font-weight: 700;
  height: 44px;
  width:180px;
}



/* GREY SECTION */

#first-grey{
  height: 155px;
  text-align: center;
}

#first-grey .container{
  position: relative;
}

#first-grey .container div{
  position: absolute;
  width: 100%;
  top:50%;
  transform: translateY(-50%);
}

#first-grey .container div p:first-child{
  font-size:24px;
  margin-bottom: 15px;
}

#first-grey .container div p:nth-child(2){
  font-size: 18px;
  color: #999
}

/* PIANO FIRST WHITE   */



.white .row{
height:100%;
text-align: center;
}

#piano .container{
  border-bottom: 1px solid #C3C4C5;
}

#piano .row > *{
  width: 33.3333%;
  height: 100%;
  float:left;
  padding-top: 10px;
  text-align: center;
}

 #piano .row .image{
  height: 45%;
  position: relative;
}

#piano .row .tit{
  height: 15%;
}

#piano .row .desc{
  height: 40%;
}

#piano .row hr{
  width:10%;
  border-top: 2px solid  #C3C4C5 ;
  color: grey;
  margin-left:45%;
  margin-right:45%;
}

#piano .row  .image > img{
  position: absolute;
  right: 50%;
  transform: translateX(50%);
  bottom: 30px;
}

#piano .left .image > img{
  width: 40%;
}

#piano .center .image > img{
  width: 65%;
}

#piano .right .image > img{
  width: 45%;
}

#piano .tit h2{
  font-size: 22px;
  font-weight: 500;
  color: #7fb802;
}

.desc p{
  font-size: 15px;
  font-weight: 400;
  line-height: 25px;
  color: #999;
  padding: 10px 20px;
}

/* TEST */

#test .row > *{
  width: 50%;
  height: 100%;
  float:left;
}

#test .row > div{
  padding-top: 30px;
}

#test .row > div > img{
  width: 90%;
}

#test .art{
  position: relative;
}

#test article {
  text-align: left;
  width: 70%;
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
}

#test article h2{
  color: #4A4A4A;
  line-height: 45px;
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 15px;
}

#test article p{
  color: #999;
  margin-bottom: 15px;
  font-size: 18px;
  font-weight: 300;
  margin-top: 15px;
  line-height: 21px;
}

#test article a{
color: #98c8f8;
text-decoration: underline;
}

/* STRUTTURA PIANO */

#struttura-piano{
  height: 130px;
}

#struttura-piano .container{
  line-height: 130px
}

#struttura-piano  .container > div{
  width: 50%;
  height: 100%
}

#struttura-piano  .container h3{
  display: inline-block;
  font-weight: 600;
}

#struttura-piano  .container .tit{
  float:left;
}

#struttura-piano .tit h3{
  color: #4a4a4a;
  font-size: 28px;

}

#struttura-piano  .container .form{
  float: right;
  text-align: right;
  /* background-color: aqua; */
}

#struttura-piano .form > h3{
  color: #b2b2b2;
  font-size: 26px;

}

#selez{
  background: none;
  height: 55px;
  color: rgba(0,0,0,0.5);
  font-weight: 600;
  font-size: 22px;
  padding: 0 15px;
  border: none;
  border-bottom: 3px solid #DCDCDC;
  margin-left: 10px;
  position:relative;
  bottom: 3px;
}

#visual{
  background-color: #7fb802;
  border: none;
  color:white;
  border-radius: 5px;
  font-size: 17px;
  font-weight: 600;
  height: 44px;
  padding: 5px 10px;
  margin-left: 10px;
}

/* DROPDOWN */

.dropdown{
  position: relative;
  display: inline-block;
}

.dropdown-content{
  display: none;
  position: absolute;
  top:100px;
  right: 0;
}

.dropdown:hover .dropdown-content{
  display: block;
}

.dropdown:hover  .fa-caret-down {
  transform: rotate(180deg);
}

.dropItem{
  display: block;
  background-color: rgba(8, 32, 67,0.5);
  border: none;
  color:whitesmoke;
  border-radius: 5px;
  width: 300px;
  height: 50px;
  margin-bottom: 8px;
  font-size: 22px;
  font-weight: 600;
  text-align: left;
  padding-left: 10px;
}

.dropItem span{
  display: inline-block;
  width: 10%;
}

.dropItem:hover{
  background-color: #7fb802;
}

/* RANDOM BLUE */



/* STRUTTURA */

#struttura .titolo{
  text-align: center;
  height: 20%;
  position: relative;
}

#struttura .titolo h2{
  color: #4a4a4a;
  font-size: 30px;
  font-weight: 600;
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
}
#struttura .row{
  height: 70%;
}

#struttura .row > div{
  width: 33.3333%;
  float: left;
  height: 100%;
  text-align: left;
  padding: 0 20px;
}

#struttura .log{
  height: 30%;
  position: relative;
  padding: 10px 0;
}

#struttura .desc{
  height: 45%;
  padding-top: 20px;
  border-bottom: 5px solid;
}

#struttura .link{
  height: 20%;
  padding: 20px 0;
}

#struttura .log img{
  height: 45%;
  position: absolute;
  bottom:0;
}

#struttura .desc h4{
  font-size: 18px;
  opacity: .8;
  margin-bottom: 5px;
}

#struttura .desc p{
  font-size: 15px;
  color: #999;
  padding-left: 0;
  line-height: 20px;
}

#struttura .link a{
  font-weight: 600;
}

/* ------------sides *-----------------/

/* left */

#struttura .left .desc{
  border-color:#98c8f8;
}

#struttura .left .link a{
  color:#98c8f8;
}

/* center */

#struttura .center .desc{
  border-color:#f8b71c;
}

#struttura .center .link a{
  color:#f8b71c;
}

/* right */

#struttura .right .desc{
border-color:#7fb802;
}

#struttura .right .link a{
color:#7fb802;
}
