*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.clear:after{
  content: "";
  display: table;
  clear: both;
}
.container{
  width: 80%;
  height: 100%;
  margin:auto;
  /* border: 1px solid black; */
}

#footButton{
  position:fixed;
  bottom:0;
  right:95px;
}

/* NAV */

nav{
  height: 80px;
  background-color: #0d325a;
  font-size: 12px;

}

nav .bar{
  line-height: 80px;
  width: 100%;
  height: 100%;
}

/* BAR  */

.bar-left{
  float:left;
  color: white;
  width: 60%;
  height: 100%;
}

.bar-right{
  float:right;
  width: 40%;
  text-align: right
}

/* BAR LEFT */

.bar-left > *{
  float: left;
}

.bar-left .logo{
  position: relative;
  width: 20%;
  height: 100%;
}

.bar-left .logo img{
 position: absolute;
 top:50%;
 left:50%;
 transform: translate(-60%,-65%);
}



.bar-left ul{
  list-style-type: none;
  width: 80%;
  /* padding-left: 5px; */
}
.bar-left ul li{
  float:left;
  padding: 0 10px;
  font-weight: 500;
  font-weight: 600;
}

.bar-left li span:hover{
  color: darkorange;
  cursor: pointer;
}

/* BAR RIGHT */

.bar-right >*{
  margin-left: 15px;
}

.bar-right button{
  font-size: 12px;
  font-weight: 600;
  cursor: pointer;
}

#btt1{
  background: none;
  border:none;
  opacity: 1;
  color: rgba(255,255,255,.5);
}

#btt2{
  background: none;
  border: 1px solid #4e8CB6;
  color:white;
  border-radius: 5px;
  height: 30px;
  width:80px;
}

#btt3{
  background-color: #7fb802;
  border: none;
  color:white;
  border-radius: 5px;
  height: 30px;
  width:150px;
}



/* GREY SECTION */


.grey{
  background-color: #f9f9f9;
  height: 155px;
  text-align: center;
}

.grey .container{
  position: relative;
}

.grey .container div{
  position: absolute;
  width: 100%;
  top:50%;
  transform: translateY(-50%);
}

.grey .container div p:first-child{
  font-size:24px;
  margin-bottom: 15px;
}
.grey .container div p:nth-child(2){
  font-size: 18px;
  color: #999
}

/* PIANO FIRST WHITE   */

.white{
  height: 500px;
  margin:5px 0;
}

.white .row{
height:100%;
text-align: center;
}

#piano .row > *{
  width: 33.3333%;
  height: 100%;
  float:left;
  padding-top: 10px;
  text-align: center;
}


 #piano .row .image{
  height: 45%;
}

#piano .row .tit{
  height: 15%;
}

#piano .row .desc{
  height: 40%;
}

#piano .row hr{
  width:10%;
  border-top: 2px solid  #C3C4C5 ;
  color: grey;
  margin-left:45%;
  margin-right:45%;
}

#piano .row  .image > img{
  width: 40%;
}

.tit h2{
  font-size: 22px;
  font-weight: 500;
  color: #7fb802;
}

.desc p{
  font-size: 15px;
  font-weight: 300;
  line-height: 25px;
  color: #999;
  padding: 10px 20px;
}

/* TEST */

#test .row > *{
  width: 50%;
  height: 100%;
  float:left;
  background-color: orange;
  border: 1px solid black;
}
